<div class="logo-and-nav">
    <div class="logo open-sans-700">Book Inventory</div>
    <div class="nav-bar inter">
        <button><a href="/">All Categories</a></button>
        <button><a href="/books">All Books</a></button>
        <button><a href="/categories/new">New Category</a></button>
        <button><a href="/books/new">New Book</a></button>
    </div>
</div>